name: Automatisation des tests
on: push
jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure & Build & CTest
        run: |
          cmake -S . -B build
          cmake --build build -j2
          ctest --test-dir build --output-on-failure

  Tests:
    runs-on: ubuntu-latest
    needs: Compilation
    strategy:
      fail-fast: false
      matrix:
        case:
          - { name: Test_add, args: "add 10 5" }
          - { name: Test_sub, args: "sub 3 -2" }
          - { name: Test_mul, args: "mul 5 5" }
          - { name: Test_div, args: "div 1 5" }
          - { name: Test_car, args: "car 5 0" }
    name: Test_${{ matrix.case.name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        run: |
          cmake -S . -B build
          cmake --build build -j2
      - name: Run ${{ matrix.case.name }}
        run: |
          ./build/src/calculator ${{ matrix.case.args }}